* {
	font-family: 'Spartan', sans-serif;
}
mat-card.centercard{
	max-width: 650px;
	border: 1px solid #CCCCCC;
}

::ng-deep .mat-step-label{
	font-size: 13px;
}
::ng-deep .mat-slide-toggle-content{
	font-family: 'Spartan', sans-serif;
	font-size: 11px;
}
a.link{
	text-decoration: underline;
}
