.text {
	font-family: 'Spartan', sans-serif;
}

a{
	text-decoration: none;
	color: white;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.spacer{
	flex: 1 1 auto;
}

.mini {
	font-size: 10px;
	line-height: 0.8;
}
.icon {
	font-family: "Material Icons";
}
.logo {
	margin-top: 5px;
}
