.card {
  font-family: 'Spartan', sans-serif;
}

.text {
	font-family: 'Spartan', sans-serif;
}
.small {
	font-size: 75%;
}
.icons {
	font-family: 'Material Icons';
}

.spacer{
	flex: 1 1 auto;
}

img.icon{
	margin-bottom: -3px;
}

div.card{
	margin-top: 3px;
}

p.price{
	font-family: 'Roboto Mono', monospace;
	margin: 0px;
}

.rv_price {
	font-family:  Roboto Mono;
	font-size:  16px;
	text-align: right;
}

.buttons-class {
  background-color: #ff5722;
  color: white;
  font-family: 'Spartan', sans-serif;
  font-size: 12px !important;
  font-weight: 700;
  height: 25px !important;
  width: 100px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttons-class-cart{
  background-color: #ff5722;
  color: white;
  font-size: 18px;
  font-weight: 700;
  height:30px !important;
  width: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.availableItems{
  display: flex;
  justify-content: space-between;
  background: lightblue;
  font-family: 'Spartan', sans-serif !important;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin: 5px;
  height: 25px;
  padding: 12px;
}
