.text {
	font-family: 'Spartan', sans-serif;
}

input[type=number]{
	text-align: right;
}

.itemDataTitle {
	font-family: 'Spartan', sans-serif;
	background: #ff5722;
	color: white;
	font-size: 26px;
	text-align: center;
	padding: 5px;
}