<app-header></app-header>
<div class="shop-menu" align="center">
	<div style="margin-top: 8px;">
		<div style="font-size: 24px;
		            font-weight: 700;">
		          {{(ownerUpdate | async)!.name}}
		</div>          
		<div class="small">
		   {{ shortenZaddr((ownerUpdate | async)!.address) }}
		</div>
	</div>
	<div class="main-buttons">
		<button mat-raised-button color="primary"
		        [routerLink]="['/orders']">
		   View Orders
		</button>
		<button mat-raised-button color="primary"
		        class="text" (click)="openSettings()">
			 <mat-icon class="icon">manage_accounts</mat-icon>
		</button>
		<a mat-raised-button color="primary" 
		   href="https://zgo.cash/" 
		   target="_blank" 
		   rel="noopener noreferrer">
		   <mat-icon class="icon">help</mat-icon>
		</a>
	</div>
</div>
<div *ngIf="orientation">
	<app-order></app-order>
	<app-item-list [zecPrice]="price"></app-item-list>
</div>
<div *ngIf="!orientation" 
     align="center">
	<table cellspacing="0" 
	       width="85%" >
		<tr>
			<td width="50%">
				<app-item-list [zecPrice]="price"></app-item-list>
			</td>
			<td style="vertical-align: top;" width="50%" >
				<app-order></app-order>
			</td>
		</tr>
	</table>
</div>
