
.text {
	font-family: 'Spartan', sans-serif;
}

.receipt {
	font-family: "Spartan";
	background: #ff5722;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	color: white;
    line-height: 20px;
    padding: 10px;        
}

.qrbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8eaf0;
}