
<div  class='itemDataTitle'>Edit Item</div>

<div class='container' style="margin-top: 20px;">
	<mat-dialog-content [formGroup]="form">
		<span style="line-height: 10px;"></span>
		<mat-form-field class="text" [style.width.%]="100">
			<mat-label>Item</mat-label>
			<input type="hidden" formControlName="id">
			<input matInput 
				   placeholder="Item" 
				   formControlName="name"
				   maxlength="16">
		</mat-form-field >
		<mat-form-field class="text" [style.width.%]="100">
			<mat-label>Description</mat-label>
			<textarea matInput 
					  placeholder="Description" 
					  formControlName="description"
					  maxlength="30" 
    				  style="line-height:20px; 
    				  		 overflow:auto;"></textarea>
		</mat-form-field>
		<mat-form-field class="text" [style.width.%]="100">
			<mat-label>Price</mat-label>
			<input matInput type="number" placeholder="Price" formControlName="cost">
			<div *ngIf="!form.controls['cost'].valid && form.controls['cost'].touched">
				<div *ngIf="form.controls['cost'].errors?.pattern">Use only numbers</div>
			</div>
		</mat-form-field>
	</mat-dialog-content>

	<div style="display: flex;
				justify-content: space-between;">
		<button mat-raised-button class="text" (click)="close()">Close</button>
		<button mat-raised-button class="text" color="primary" (click)="save()">Save</button>
	</div>		

</div>