* {
	font-family: 'Spartan', sans-serif;
	font-size:  11px;  
}

.description {
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 	14px;
	font-weight: 700;
	text-align: center;
}

.datepicker {
	border-color: dimgray;
	border-width: 3px;
	border-radius: 8px;
	background-color:  white;
}

.noorders {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-color: dimgray;
	border-width: 3px;
	border-radius: 8px;
	background-color:  #f9e79f;
}

.settings-title {
	font-family: 'Spartan', sans-serif;
	background: #ff5722;
	color: white;
	font-size: 30px;
	text-align: center;
	padding: 5px;
}

.daterange {
	font-size: 13px;
	font-weight: 700;
	padding-bottom: 15px;
}

.downloadbtn {
	min-width: 120px;
	max-width: 150px;
	height: 25px;
	border-color: dimgray;
	border-width: 3px;
	border-radius: 8px;
	box-shadow: lightgray;
	font-family: 'Spartan', sans-serif;
	background: #ff5722;
	color: white;
	font-size: 16px;
	text-align: center;
	padding: 6px;
}

::ng-deep .downloadbtntxt {
	color: white;
	font-size: 14px;
	font-weight: 600;
}
