
::ng-deep .invoice {
	font-family: "Spartan";
	background: #ff5722;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	color: white;
    line-height: 20px;
    padding: 10px;        

}

::ng-deep .invoice-content {
	font-family: Roboto mono;
	display: flex;
	justify-content: center;
	font-size: 16px;
}

.copy-button {
	color: dodgerblue; 
	font-size: 20px;
	margin: auto;
}

.urlLabel {
	font-family: "Spartan";
	font-size: 14px;
	color: dimgray;
}

.urlDetail {
	font-family: "Spartan";
	font-size: 14px;
	color: black;
}

.urlCopyBtn {
	cursor:  pointer;
}

.qr-code{
    border-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}


