
<div class="notifier" >
	<div class="notifier-type">
		{{ data.type | titlecase }}
	</div>
	<p>
		{{ data.message }}
	</p>
	<div >
		<button mat-flat-button (click)="sbRef.dismiss()"
				style="justify-content: center;
					   align-items: center;"
				color="primary">
			{{ data.buttonText }}
		</button>
	</div>
</div>