
<div class="settings-title">Settings</div>

<div class="container" 
	 style="margin-top: 10px;
			height: 450px;
			margin-left: 10px;
			margin-right: 10px;">
	<mat-tab-group mat-tab-align-tabs="start">
		<mat-tab label="Main" style="height: 400px;">
			<div class="container" style="margin-bottom:  20px;">
				<mat-dialog-content [formGroup]="settingsForm">
					<mat-form-field  class="settings-field" [style.width.%]="100">
						<mat-label>Name</mat-label>
						<input matInput 
							   width="100%"
							   placeholder="Name" 
							   formControlName="name">
					</mat-form-field>
					<mat-form-field [style.width.%]="100" >
						<mat-label>Currency</mat-label>
						<mat-select formControlName="currency">
							<mat-option *ngFor="let coin of coins" 
									[value]="coin.symbol">
								{{coin.label}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-slide-toggle formControlName="useZats" 
									  class="settings-toggle"
									  (change)="onChange($event)">
						Use zatoshis?
					</mat-slide-toggle>
					<pre></pre>
					<mat-slide-toggle formControlName="useVKey" 
									  class="settings-toggle"
									  (change)="onChangeVKeyOn($event)">
						Confirm payments?
					</mat-slide-toggle>
					<pre></pre>
					<mat-form-field class="full-width" 
									appearance="fill">
						<mat-label>Viewing key</mat-label>
						<textarea matInput placeholder="Your wallet viewing key" 
								formControlName="vKey">
						</textarea>
					</mat-form-field>
<!--					
					<pre></pre>
					<mat-slide-toggle formControlName="proVersion" 
									  class="settings-toggle"
								  (change)="onChangeProVersion($event)">
						Enable Integrations
					</mat-slide-toggle>
-->
				</mat-dialog-content>
			</div>

			<div class="container" 
			 	 style="display: flex;
						justify-content: space-between;
						align-items: center;">
				<button mat-raised-button 
						(click)="close()">
					Cancel
				</button>
				<button mat-raised-button 
						color="primary" 
						(click)="save()">
					Save
				</button>
			</div>
			<div style="height: 20px;
						margin-top: 10px;">
			</div>			
		</mat-tab>
		<mat-tab *ngIf="proVersion"
		         label="Integrations"
				 style="align-items: center;">
			<div class="container" style="margin-bottom:  20px;">
				<mat-dialog-content [formGroup]="accCodForm">
					<div style="height: 10px;
								margin-top: 10px;">
					</div>			
					<div class="container" 
					     style="height: 300;">
					    <p  style="text-align:center">
							<a mat-raised-button   	 
							   color="primary" 
							   href="{{this.xeroLink}}">
								{{ linkMsg }}
							</a>
						</p>

						<table *ngIf="linked2Xero"
						       [style.width.%]="100"
						       style="margin-top: 10px;">
							<thead style="width: 100%;">
								<tr>
									<th class="urlLabel"
									    style="text-align: left;" 
									    width="94%">Payment Service URL:
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<td class="urlDetail" 
								    style="text-align: left;" 
								    width="94%">
								    <div>
										<textarea disabled
										    style="font-size: 10px !important;
										           border: none;
										    	   outline: none;
										    	   min-height: 150px;
										    	   width: 95%;"
									        cdkTextareaAutosize
									        cdkAutosizeMinRows="6"
									        cdkAutosizeMaxRows="10">{{ pmtServiceURL }}
										</textarea>
									</div>

								</td>
								<td class="urlCopyBtn">
							        <a (click)='copyUrl()' >	
									   <fa-icon [icon]="faCopy" 
									            class="copy-button">
									   </fa-icon>
								   </a>
								</td>
							</tbody>
						</table>
					<div style="height: 10px;
								margin-top: 10px;">
					</div>			
					<mat-form-field  *ngIf="linked2Xero"
									 class="settings-field"
					                 [style.width.%]="100">
						<mat-label>Account Code</mat-label>
						<input matInput 
							   width="100%"
							   placeholder="9999999999" 
							   formControlName="xAcc"
							   (keyup)="checkStatus($event)">
<!--   
							   (change)="xeroAccCodChanged($event)">
-->
					</mat-form-field>
						
					</div>	
				</mat-dialog-content>		
			</div>	
			<div class="container" 
			 	 style="display: flex;
						justify-content: space-between;
						align-items: center;">
				<button mat-raised-button 
						(click)="closeIntegration()">
					Close
				</button>
				<button *ngIf="saveAccOk" 
				        mat-raised-button 
						color="primary" 
						(click)="saveAccCod()">
					Save Code
				</button>
			</div>
			<div style="height: 20px;
						margin-top: 10px;">
			</div>			
		</mat-tab>
	</mat-tab-group>
</div>
